@import "../../global.scss";

.progress-div{
    background-color: rgba(233,233,233,1);
    border-radius: 1rem;
    width: 800px;
    height: 20px;
    overflow: hidden;
    padding: 0;

    .progress-bg{
        background-color: $accent1;
        justify-content: left;
        height: 20px;
        max-width: 700px;
        min-width: 0px;
        //width: 200px;
        border-radius: 1rem;
        transition: 2s ease; 
        transition-delay: 0.75s; 
    }
}






