.app{
    height: 100vh; 
    
    .sections{
        width: 100%;
        height: calc(100vh);
        background-color: red;
        position: relative; 
        top: 0px;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
        scrollbar-width: none; // for firefox 
        &::-webkit-scrollbar{
            display: none;  // chrome
        }

        > *{
            width: 100vw;
            height: calc(100vh);
            scroll-snap-align: start;
        }
    }
}