@import "./global.scss";
.app{
    height: 100vh; 
    
    .sections{
        width: 100%;
        max-width: 100%;
        height: calc(100vh);
        background-color: transparent;
        position: relative; 
        top: 0px;
        scroll-behavior: smooth;
        //overflow: hidden;
        //scroll-snap-type: y proximity;
        // scrollbar-width: none; // for firefox 
        //  &::-webkit-scrollbar{
        //      display: none;  // chrome
        //  }
        > *{
            width: 100vw;
            max-width: 100%;
            height: calc(100vh);
            scroll-snap-align: start;
            overflow: hidden;
        }
    }
    .tempfooter{
        text-transform: uppercase;
        top: 0;
        left: 0;
        position: fixed; 
        width: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: 100px; 
        background-color: #6495EF;
        font-size: 50px;
    }
}