$mainColor: #264653;
$secondaryColor: white;
$accent1: #2a9d8f;
$accent2: #e9c46a;
$accent3: #f4a261;
$accent4: #e76f51;  

$widthHalfScreen: 1400px;
$widthMobile: 450px;

$breakpoints: (
    halfScreen : 1400px,
    mobile : 450px,
    navFirst : 1000px
);

@mixin media($keys...){
    @each $key in $keys {
        @media (max-width: map-get($breakpoints, $key)){
            @content
        }
    }
}